@import "colours";
@import "minins";

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
$default_rounded_amount: 10px;
$list-style: none;
.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
	width: 100%;
}
.nav > li > form > button:hover {
	text-decoration: none;
}
.page-nav-link{
	border: aqua 2px outset;
	background:$color-white;
	min-height: 45px;
	text-align: center;

}
.form_object{
	border: 3px solid #fff!important;
	background: #8c8c8c!important;
	color: $color-white;
}
.job_zone_list{
    ul{
      list-style: $list-style;
    }
    li{
        @include border-radius($default_rounded_amount);
        border: 2px outset;
        padding: 10px;
        margin: 0 0 10px 0;
        text-align: center;
        background: #cafff7;
    }
    li:hover{
      @extend li;
      border: inset;
      background: $link-div-hover-background;

    }
    i{
      display:inline-block;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      vertical-align: bottom;
      width:100%;
    }
}
nav{

  background-image: url(../images/banners/bannerbkGrnd.png)!important;
  background-repeat: repeat-x;

  .container{
      width: 98%;
      z-index: 0;
      background-image: url(../images/banners/schools.png);
      background-position: 0px 0px;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;

  }
}
.navbar-inverse{
  background-color: $color-white;
}
.row{
  .page-nav-link{
    @include border-radius(20px);
    border:2px outset;
  }
}
.section_box{
  @include border-radius(20px);
  border: 2px outset;
  background-image: url(../images/banners/bannerbkGrnd.png)!important;
  background-repeat: repeat-x;
  min-height: 225px;
}
.slider-img{
  .page-nav-link{
    @extend .page-nav-link;
    @include border-radius($default_rounded_amount);
    height: 130px;
  }
  .page-nav-link:hover{
    background-color:$link-div-hover-background;
    border: inset;
  }
  .iconframe{
    width:100%;
    height: 50px;
    display: block;
  }
}
.footer{
  background-color: $color-white;
  background-image: url(../images/banners/bannerbkGrnd.png)!important;
  background-repeat: repeat-x;
  .container{

  }
}
